<div class="movie-list-container">
  <div class="noir-movie-header">
    <h2 class="noir-movie-title">{{this.movie.title}}</h2>
    <p class="noir-movie-desc">{{this.movie.description}}</p>
  </div>
  <li class={{this.styleNamespace}}>
    {{#if this.isEditing}}
      {{! Edit form content }}
    {{else}}
      <div class="details">
        <div class="trailer-container">
          {{#if this.trailerUrl}}
            <iframe
              src="{{this.embedUrl}}?playsinline=1&enablejsapi=1&rel=0"
              frameborder="0"
              class="trailer-iframe"
              allowfullscreen="true"
            ></iframe>
          {{/if}}
        </div>
        <div class="actions">
          <button
            class="edit-button"
            {{on "click" this.startEditing}}
          >Edit</button>
          <button
            class="delete-button"
            {{on "click" this.deleteMovie}}
          >Delete</button>
        </div>
      </div>
    {{/if}}
  </li>
</div>