<li class={{this.styleNamespace}}>
  {{#if this.isEditing}}
    <div class="edit-form">
      <Input @type="text" @value={{this.editTitle}} />
      <Textarea @value={{this.editDescription}} />
      <button class="save-button" {{on "click" this.saveEdit}}>Save</button>
      <button
        class="cancel-button"
        {{on "click" this.cancelEdit}}
      >Cancel</button>
    </div>
  {{else}}
    <div class="details">
      <h2>{{this.movie.title}}</h2>
      <p>{{this.movie.description}}</p>
      <div class="actions">
        <button
          class="edit-button"
          {{on "click" this.startEditing}}
        >Edit</button>
        <button
          class="delete-button"
          {{on "click" this.deleteMovie}}
        >Delete</button>
      </div>
    </div>
  {{/if}}
</li>